@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700&display=swap");

/* ALL PAGES */

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--body-bg);
}

:root {
  --primary-green: #376047;
  --secondary-green: #38704f;
  --body-bg: #202020;
  --primary-purple: #29224c;
  --secondary-purple: #342a66;
  --purple-grey: #78717c;
  --primary-white: #ffffff;
  --dark-border: #171717;
}

.get-involved {
  background-color: var(--primary-green);
  list-style-type: none;
  padding: 1rem;
}

.get-involved > li a {
  color: var(--primary-white);
  text-decoration: none;
  font-weight: 400;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav > div a:last-child {
  text-decoration: none;
}

.logo-csm {
  width: 100%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(41,34,76,0.99);
    backdrop-filter: blur(1rem);
    color: #fff;
    height: 60px;
    padding: 3em;
    position: fixed;
    z-index: 99999;
    width: 100%;
  }
  
  .menu {
    display: flex;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  margin-top: 0.5rem;
  display: inline block;
  transition: 0.3s ease-in-out;
}

.menu > li a {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: 400;
}

.menu > li a:hover {
  font-weight: 700;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--primary-white);
  position: absolute;
  height: 2px;
  width: 50px;
  transition: 400ms ease;
  border-radius: 99999px;
}

.menu-button::before {
  content: "";
  margin-top: 10px;
}

.menu-button::after {
  content: "";
  margin-top: -10px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .get-involved {
    display: none;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 95px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .padding {
    opacity: 0;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 400ms ease;
  }
  #menu-toggle:checked ~ .menu li {
    height: 4.5rem;
    padding: 1em;
    transition: 400ms ease;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: var(--primary-purple);
    z-index: 1;
  }

  .menu > li a {
    color: var(--primary-white);
  }
}

.container {
  width: min(95%, 70rem);
  margin-inline: auto;
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: var(--body-bg);
  padding: 60px 10%;
  color: var(--primary-white);
}

.footer-col {
  width: 25%;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 30px;
  font-size: 22px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col a,
.footer-col {
  text-decoration: none;
  color: var(--primary-white);
  transition: 0.4s ease;
  font-weight: 300;
  line-height: 30px;
}

.footer-col a:hover {
  padding-left: 2px;
}

.social img {
  display: inline-block;
  padding: 3.5px;
}

.csm-bw {
  position: relative;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .footer-col {
    width: 50%;
  }

  footer {
    margin-inline: auto;
  }
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* HOME PAGE */

.banner {
    background-color: var(--primary-purple);
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    background-size: cover;
    overflow-x: hidden;
}

.greenastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(90%, 90rem);
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

.astro-item {
  justify-content: center;
  text-align: center;
  color: var(--primary-white);
}

.banner-title {
  font-size: 35px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--primary-white);
}

.astro-item img {
  max-width: 100%;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .greenastro {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .greenastro h1 {
    font-size: 30px;
    word-wrap: nowrap;
  }
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.wlc {
  color: var(--primary-white);
  font-size: 40px;
  font-weight: 300;
}

@media (max-width: 400px) {
  .wlc {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .opening {
    font-size: 20px;
  }
}

.opening {
  margin-top: -40px;
}

.opening a {
  color: var(--primary-white);
}

.welcome-container {
  gap: 1.5rem;
  display: grid;
  padding-block: 2rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  border: 2px solid var(--dark-border);
  gap: 1rem;
}

.welcome-block {
  font-weight: 300;
}

.welcome-image {
  background-image: url(images/fossile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.join-us {
  font-weight: 700;
}

@media (max-width: 950px) {
  .welcome-container {
    display: flex;
    flex-direction: column;
  }

  .welcome-image {
    aspect-ratio: 1.8;
  }
}

.container-bg.purple {
  background-color: var(--primary-purple);
  padding: 2rem;
}

.container-home {
  gap: 1.5rem;
  display: grid;
  padding-block: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.container-item img {
  max-width: 100%;
  min-height: 100%;
  padding: 1rem;
}

.container-item:nth-child(1) {
  grid-row: span 2;
  grid-column: span 2;
}

@media (max-width: 750px) {
  .container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.exhibition {
  font-size: 13px;
  color: var(--primary-white);
  padding: 0.8rem;
  cursor: grab;
  box-shadow: 2.5rem 3.75rem 3rem -3rem black;
  font-weight: 500;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: top right 15%;
}

.exhibition:hover {
  transform: translateY(-20px);
  background: var(--primary-white);
  color: #000000;
  transition: ease-out 0.3s;
  border-radius: 0.3rem;
}

.cosmology {
  background-color: var(--primary-purple);
  background-image: url(images/space.png);
}

.robotic {
  background-color: var(--purple-grey);
  background-image: url(images/ai.png);
}

.ecology {
  background-color: var(--body-bg);
  background-image: url(images/save-the-world.png);
}

.evolution {
  background-color: var(--primary-green);
  background-image: url(images/evolution.png);
}

.biology {
  background-color: var(--body-bg);
  background-image: url(images/molecular.png);
  background-position: bottom right 15%;
}

.exhibition-grid {
  gap: 1.5rem;
  display: grid;
  padding-block: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.sub-title {
  font-weight: 700;
  font-size: 18px;
}

.ex-title {
  font-size: 18px;
  margin-bottom: 15px;
}

@media screen and (min-width: 900px) {
  .exhibition-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .exhibition:last-child {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .cosmology,
  .evolution {
    grid-column: span 2;
  }
}

@media (max-width: 850px) {
  .exhibition {
    background-size: 25%;
  }
}

.btn a {
  text-decoration: none;
  color: var(--primary-white);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.view-more {
  background-color: var(--primary-purple);
  display: flex;
  border: none;
}

.image-gallery {
  gap: 1.5rem;
  display: grid;
  padding-block: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  aspect-ratio: 0.8/1;
  box-shadow: 2.5rem 3.75rem 3rem -3rem black;
}

.gallery-item:first-child {
  background-image: url(images/flatart-polarb.png);
}
.gallery-item:nth-child(2) {
  background-image: url(images/flatart-plane.png);
}
.gallery-item:nth-child(3) {
  background-image: url(images/flatart-lab.png);
}
.gallery-item:nth-child(4) {
  background-image: url(images/flatart-dino.png);
}
.gallery-item:nth-child(5) {
  background-image: url(images/museumgrid.png);
}
.gallery-item:last-child {
  background-image: url(images/flatart-robot.png);
}

.gallery-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 850px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .image-gallery {
    grid-template-columns: 1fr;
  }
}

.explore {
  background-color: var(--primary-green);
  border: none;
  display: flex;
}

.explore:hover,
.visit:hover,
.get-involved:hover {
  box-shadow: #1b3324 5px 5px;
}

.btn.explore-banner {
  border: 5px solid rgb(12, 1, 44);
}

.view-more:hover,
.involved:hover,
.explore-banner:hover {
  box-shadow: rgb(12, 1, 44) 5px 5px;
}

.btn:hover {
  transform: translateY(-5px);
  transition: ease-in 0.3s;
}

.get-involved:hover {
  transform: translateY(-5px);
  transition: ease-in 0.3s;
}

.btn.visit {
  background-color: var(--primary-green);
  border: none;
  padding: 0.5rem;
}

.btn.involved,
.explore-banner {
  background-color: var(--primary-purple);
  border: none;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.explore-grid {
  display: grid;
  padding-block: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 20px;
}

.explore-item {
  background-color: var(--primary-green);
  min-height: 400px;
}

.teacher {
  background-image: url(images/professor.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kid {
  background-image: url(images/children.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.research {
  background-image: url(images/student.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-bg.green {
  background-color: var(--secondary-green);
  padding: 2rem;
}

.explore-item.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background-color: var(--secondary-green);
  font-weight: 300;
}

.paragraph h3 {
  font-weight: 400;
}

@media (max-width: 850px) {
  .explore-grid {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .explore-item:nth-child(1) {
    grid-row: 2;
  }

  .explore-item:last-child {
    grid-row-start: 5;
  }
}

/* EXHIBITION PAGE */

.exhibition-banner {
  background-image: url(images/exhibition-banner.png);
  height: 70vh;
  background-position: top right 70%;
  background-size: cover;
}

.ex-container {
  gap: 1.5rem;
  display: grid;
  padding-block: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.ex-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.overlay-content {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
  background-color: rgba(41, 34, 76, 0.9);
  z-index: 2;
}

.ex-item:hover .overlay-content {
  transform: translateY(0);
  opacity: 1;
}

.overlay-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-white);
}

.overlay-content p {
  font-size: 13px;
  color: var(--primary-white);
  font-weight: 300;
}

.ex-item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  object-position: center;
  background-color: var(--secondary-green);
  box-shadow: 2.5rem 3.75rem 3rem -3rem black;
}

.ex-item:nth-child(3) {
  grid-column: span 2;
}

.ex-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 34, 76, 0.95);
  z-index: 1;
  opacity: 0;
  text-align: center;
  justify-content: center;
  color: white;
  transition: ease-out 0.5s;
}

.ex-item:hover::before {
  opacity: 1;
}

@media (max-width: 900px) {
  .ex-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .ex-item:nth-child(3) {
    grid-column: span 1;
  }
}

.upcomming-bg {
  background-color: var(--primary-purple);
}

.upcomming {
  gap: 1.5rem;
  display: grid;
  padding-block: 2rem;
}

.event-item img {
  max-width: 100%;
}

.event-item {
  justify-content: center;
  text-align: center;
  color: var(--primary-white);
}

.event-item p {
  font-weight: 300;
}

.intrested {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
  color: var(--primary-white);
}

.intrested p {
  margin-top: -10px;
}

.toppad {
  padding-top: 2rem;
}

.contact-banner {
  height: 85vh;
  background-image: url(images/welcomebanner.png);
}

.contact-banner span {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
}

.contact-t {
  margin-bottom: 4px;
}

@media (max-width: 400px) {
  .contact-banner span {
    font-size: 12px;
  }
}

form {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 300;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input,
textarea,
input[type="submit"] {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

input[type="submit"] {
  background-color: var(--primary-green);
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #38704f;
  box-shadow: #1b3324 5px 5px;
  transform: translateY(-5px);
  transition: ease-in 0.3s;
}

.contact-bg {
  background-color: var(--primary-purple);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.question {
  width: min(95%, 50rem);
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  color: var(--primary-white);
  font-weight: 300;
}

.how-to-explore {
  background-color: var(--primary-green);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.how-item img {
  max-width: 100%;
  background-color: #38704f;
  padding: 1rem;
}

.how-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding-block: 2rem;
}

.how-item {
  color: var(--primary-white);
  font-weight: 300;
}

.how-item > span {
  font-weight: 500;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  .how-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .how-item:nth-child(5),
  .how-item:nth-child(6) {
    grid-row: 2;
  }
}
.time {
  background: var(--body-bg);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

table {
  width: min(95%, 40rem);
  margin: 80px auto;
  border-collapse: collapse;
  background: #2c2c2c;
  color: var(--primary-white);
  font-weight: 300;
}

td {
  padding: 1.5rem 2rem;
  text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
  padding-left: 12px;
  text-align: right;
}

.getin {
  background-image: url(images/getinvolvedbanner.png);
  height: 60vh;
  background-attachment: fixed;
  background-position: top right 80%;
}

.involved-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding-block: 2rem;
}

.involved-item img {
  max-width: 100%;
}

.meaning {
  color: white;
  font-weight: 300;
  background-color: #2c2c2c;
  padding: 1rem;
}

.involved-item > span {
  font-weight: 500;
}

@media (max-width: 750px) {
  .involved-grid {
    grid-template-columns: 1fr;
  }

  .involved-item:nth-child(4) {
    grid-row: 2;
  }

  .involved-item:nth-child(5) {
    grid-row: 4;
  }
}

.last-update {
  color: var(--purple-grey);
  font-size: 12px;
}

.policy-banner {
  background-color: var(--body-bg);
  height: 15vh;
}

.terms-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.terms-container h3 {
  color: var(--primary-white);
  display: flex;
}

.terms-container p {
  color: var(--primary-white);
  font-weight: 300;
}

.terms-container a {
  color: var(--primary-green);
}

.conditions {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
}
